<div class="sub-nav-wrapper darkmode">
  <nav class="sub-nav darkmode">
    {{breadcrumbs}}
    {{search submit=false}}
  </nav>
</div>  
<section class="section hero">
  <section class="unit darkmode">
    <h1  class="major-page-title">{{category.name}}</h1>
    <p>{{category.description}}</p>
  </section>
</section>



{{#is category.name 'Getting Started'}}
  <div class="guide-page">
    {{#each sections}}
    <section class="unit subtitle">
        <h3>{{name}}</h3>
        <p>{{description}}</p>
    </section>
    <section class="collection">
        {{#if articles}}
          {{#each articles}}
            <a class="stealth" href='{{url}}'>
                <div class="collection-item no-description">
                  <div class="img-container">
                    {{#is title 'Introduction to Sky Ledge'}}
                      <img src="{{asset 'intro.svg'}}">
                    {{/is}}
                    {{#is title 'What impact can I deliver with Sky Ledge?'}}
                      <img src="{{asset 'ideas.svg'}}">
                    {{/is}}
                    {{#is title 'Creating an Account'}}
                      <img src="{{asset 'create-account.svg'}}">
                    {{/is}}
                    {{#is title 'Getting to know your Launchpad'}}
                      <img src="{{asset 'launchpad.svg'}}">
                    {{/is}}
                    {{#is title 'Exploring your first Control Room'}}
                      <img src="{{asset 'view-cr.svg'}}">
                    {{/is}}
                    {{#is title 'What are Event Types?'}}
                      <img src="{{asset 'ets.svg'}}">
                    {{/is}}
                    {{#is title 'Create your first Control Room'}}
                      <img src="{{asset 'create-cr.svg'}}">
                    {{/is}}
                  </div>
                  <h4 class="title">{{title}}</h4>
                  {{!-- <p>{{excerpt description}}</p> --}}
                </div>
              </a>
          {{/each}}
          {{/if}}
    </section>
    {{/each}}
  </div>
{{/is}}

{{!-- {{#isnt category.name 'Getting Started'}}
  {{#isnt category.name 'Knowledge Base'}}
  <div class="guide-page">

    <section class="collection">
      {{#each sections}}
        <a class="stealth" href='{{url}}'>
            <div class="collection-item">
              <div class="img-container">
                {{#is name 'Getting Started'}}
                  <img src="{{asset 'category_getting_started.svg'}}">
                {{/is}}
                {{#is name 'Knowledge Base'}}
                  <img src="{{asset 'category_kb.svg'}}">
                {{/is}}
              </div>
              <h4 class="title">{{name}}</h4>
              <p>{{description}}</p>
            </div>
          </a>
      {{/each}}
    </section>
  </div>
  {{/isnt}}
{{/isnt}} --}}

{{#isnt category.name 'Getting Started'}}
<div class="container">


  <div class="collectioncontainer">
    <div class="collectioncontent">
      {{!-- <header class="page-header">
        <h1>{{category.name}}</h1>
        {{#if category.description}}
          <p class="page-header-description">{{category.description}}</p>
        {{/if}}
      </header> --}}

      <div class="section-tree">
        {{#each sections}}
          <section class="section">
            <h3 class="section-tree-title">
              <a href="{{url}}">{{name}}</a>
            </h3>
            {{#if articles}}
              <ul class="article-list">
                {{#each articles}}
                  <li class="article-list-item{{#if promoted}} article-promoted{{/if}}">
                    {{#if promoted}}
                      <span data-title="{{t 'promoted'}}" class="icon-star"></span>
                    {{/if}}
                    <a href="{{url}}" class="article-list-link">{{title}}</a>
                    {{#if internal}}
                      <span class="icon-lock" title="{{t 'internal'}}"></span>
                    {{/if}}
                  </li>
                {{/each}}
              </ul>
              {{#if more_articles}}
                <a href="{{url}}" class="see-all-articles">
                  {{t 'show_all_articles' count=article_count}}
                </a>
              {{/if}}
            {{else}}
              <i class="section-empty">
                <a href="{{url}}">{{t 'empty'}}</a>
              </i>
            {{/if}}
          </section>
        {{else}}
          <i class="collectionempty">
            <a href="{{category.url}}">{{t 'empty'}}</a>
          </i>
        {{/each}}
      </div>
    </div>
  </div>
</div>
{{/isnt}}