<header class="underline">
  <div class="constrained">

    <div class="logo primary">      
      <span class="understated">
        <a href="http://skyledge.com/">
          Sky Ledge
        </a>
      </span>
    </div>

    <nav>
      <ul>
          <li>
            <a href="https://skyledge.com/stories" class="link">Stories and Solutions</a>
          </li>
          <li>
            <a href="https://skyledge.com/tour" class="link">Platform Tour</a>
          </li>
          <li>
            <a href="https://skyledge.com/tour" class="link is-active-nav">Learn</a>
          </li>
      </ul>
    </nav>
    <span class="filler"></span>
    <nav class="cta">
      <ul>
          <li>
            <a class="link" href="https://platform.skyledge.com/">Sign in</a>
          </li>
          <li>
              <a class="a-btn" href="https://platform.skyledge.com/">Sign up Free</a>
          </li>
      </ul>
    </nav>
  </div>
</header>

<div class="header">
  <div class="logo">
    {{#link 'help_center'}}
      <img src="{{settings.logo}}" alt="{{t 'home_page' name=help_center.name}}">
    {{/link}}
  </div>
  <div class="nav-wrapper">
    <span class="icon-menu" tabindex="0" role="button" aria-controls="user-nav" aria-expanded="false" aria-label="{{t 'toggle_navigation'}}"></span>
    <nav class="user-nav" id="user-nav">
      {{link 'community'}}
      {{link 'new_request' class='submit-a-request'}}
    </nav>
    {{user_info}}
  </div>
</div>

