<section class="section hero brand">
  <section class="unit darkmode">
    <h1>Experience Control</h1>
    <p>Sky Ledge is easy to learn. Get powerful insights to your organisation in no time.
      Search our help center or contact us to help you along your journey.</p>
  </section>
  <div class="hero-inner">
    {{search submit=false instant=settings.instant_search 
      placeholder=settings.search_placeholder class='search search-full'}}
  </div>
</section>

<section class="category-group brand">
  {{#each categories}}
      {{#isnt name 'General'}}
        <a class="stealth" href='{{url}}'>
          <div class="category-block">
            <div class="img-container">
              {{#is name 'Getting Started'}}
                <img src="{{asset 'category_getting_started.svg'}}">
              {{/is}}
              {{#is name 'Knowledge Base'}}
                <img src="{{asset 'category_kb.svg'}}">
              {{/is}}
            </div>
            <h4 class="title">{{name}}</h4>
            <p>{{excerpt description}}</p>
          </div>
        </a>
      {{/isnt}}
  {{/each}}
  {{#if help_center.community_enabled}}
    {{#link 'community' class='community-link'}}
        <div class="category-block">
          <div class="img-container">
              <img src="{{asset 'category_practicum.svg'}}">
          </div>
          <h4 class="title">{{t 'community'}}</h4>
          <p>{{t 'join_conversation'}}</p>
        </div>
    {{/link}}
  {{/if}}
</section>

<div class="container">
  <section class="section knowledge-base">

    {{#if promoted_articles}}
      <section class="articles">
        <h3>{{t 'promoted_articles'}}</h3>
        <ul class="article-list promoted-articles">
          {{#each promoted_articles}}
            <li class="promoted-articles-item">
                <a href="{{url}}">
                  {{title}}

                  {{#if internal}}
                    <span class="icon-lock" title="{{t 'internal'}}"></span>
                  {{/if}}
                </a>
            </li>
          {{/each}}
        </ul>
      </section>
    {{/if}}
  </section>

  {{!-- {{#if help_center.community_enabled}}
    <section class="section community">
      <h2>{{t 'community'}}</h2>
      {{#link 'community' class='community-link'}}
        {{t 'join_conversation'}}
      {{/link}}

      <div class="community-image"></div>
    </section>
  {{/if}} --}}

  <section class="section activity">
    {{#if settings.show_recent_activity}}
      {{recent_activity}}
    {{/if}}
  </section>
</div>
