<div class="container-divider"></div>
<div class="container full-width">
  <nav class="sub-nav tight">
    {{breadcrumbs}}
    {{search submit=false}}
  </nav>

  <h1 class="major-page-title">
    {{t 'submit_a_request'}}
    {{#if follow_up}}
      <span class="follow-up-hint">
        {{follow_up}}
      </span>
    {{/if}}
  </h1>

  <div class="form">
    {{request_form}}
  </div>
</div>
